@font-face {
    font-family: "Alba";
    src: url("alba/alba.TTF");
}

body {
    margin: 0;
}

.titre {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: white;
}


/* ---- particles.js container ---- */

#particles-js {
    background-color: #370fc7;
    background-size: cover;
}


/* ---- stats.js ---- */

.count-particles {
    position: absolute;
    top: 300px;
    width: 100%;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

.count-particles {
    margin-top: 5px;
    margin-left: 5px;
}

.count-particles {
    border-radius: 0 10px 3px 3px;
}

.navbar-light {
    background-color: #47cb71 !important;
}